<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="file:///android_asset/scripts/base64.js"></script>
    <script type="text/javascript" src="file:///android_asset/scripts/text-encoder.js"></script>
    <script type="text/javascript" src="file:///android_asset/scripts/main.js"></script>
    <!--<script type="text/javascript" src="file:///android_asset/scripts/md_colors.js"></script>-->
    <link rel="stylesheet" type="text/css" href="file:///android_asset/fonts/roboto/import.css">
    <!--<link rel="stylesheet" type="text/css" href="file:///android_asset/styles/md_colors.css">-->
    <link rel="stylesheet" type="text/css" href="file:///android_asset/styles/main_${app_theme}.css">
</head>

<body>
<div class="wrapper" style="position: relative;">
    <div style="background-color: #4a76a8; height: 1rem; position: absolute; top:0; left:0; right:0; z-index: -100;"></div>
    <div id="content" class="content" style="padding: 0;">
    </div>
</div>

</body>

</html>
