<!doctype html>
<html>

<head>
    <script type="text/javascript" src="file:///android_asset/scripts/main.js"></script>
    <link rel="stylesheet" type="text/css" href="file:///android_asset/fonts/roboto/import.css">
    <link rel="stylesheet" type="text/css" href="file:///android_asset/styles/md_colors.css">
    <link rel="stylesheet" type="text/css" href="file:///android_asset/styles/main.css">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div id="title" class="title">hlksadfjlkjl dsos adfip ofsopiw epiofaepoiposda fi</div>
            <div class="not_title">
                <span id="nick" class="nick">(Lupin) Люпин Либрийский</span>
                <div class="counting">
                    <span id="comments_count" class="comments">1000</span>
                    <span id="views_count" class="views">100000</span>
                </div>
            </div>
        </div>
        <div class="content">

        </div>
    </div>

</body>

</html>
