<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="file:///android_asset/scripts/base64.js"></script>
    <script type="text/javascript" src="file:///android_asset/scripts/text-encoder.js"></script>
    <script type="text/javascript" src="file:///android_asset/scripts/main.js"></script>
    <!--<script type="text/javascript" src="file:///android_asset/scripts/md_colors.js"></script>-->
    <link rel="stylesheet" type="text/css" href="file:///android_asset/fonts/roboto/import.css">
    <!--<link rel="stylesheet" type="text/css" href="file:///android_asset/styles/md_colors.css">-->
    <link rel="stylesheet" type="text/css" href="file:///android_asset/styles/main_dark.css">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div id="title" class="title"></div>
            <div class="not_title">
                <span id="nick" class="nick"></span>
                <div class="counting" hidden>
                    <span id="comments_count" class="comments"></span>
                    <span id="views_count" class="views"></span>
                </div>
            </div>
        </div>
        <div id="content" class="content">

        </div>
    </div>
    <div class="to_comments" onclick="INews.toComments();" role="button">
        <div class="title">Комментарии</div>
        <div class="content">Сделайте свайп влево, чтобы открыть комментарии</div>
    </div>
</body>

</html>
