@dividerLine: #414141;
@windowBackground: #141414;
@cardBackground: #282828;

@textDefault: #fff;
@textSecond: #b2b2b2;
@linkColor: #c40304;
@buttonColor: #ac0304;

@blockquote: #414141;

@import "base";