.ov() {
    /*&:after{
        content: " OVERRIDEN";
    }*/
}

/*[style^="color:skyblue"] {
    color: skyblue!important;
}*/

/*[style^="color:royalblue"] {
    color: royalblue!important;
}*/

[style^="color:blue"] {
    color: #2196F3!important;
    .ov();
}

[style^="color:darkblue"] {
    color: #0D47A1!important;
    .ov();
}

[style^="color:orange"] {
    color: #FF9800!important;
    .ov();
}

[style^="color:orangered"] {
    color: #FF5722!important;
    .ov();
}

/*[style^="color:crimson"] {
    color: #C2185B!important;
    .ov();
}*/

[style^="color:red"] {
    color: #f44336!important;
    .ov();
}

[style^="color:darkred"] {
    color: #b71c1c!important;
    .ov();
}

/*[style^="color:green"] {
    color: #4CAF50!important;
    .ov();
}

[style^="color:limegreen"] {
    color: #8BC34A!important;
    .ov();
}

[style^="color:seagreen"] {
    color: #388E3C!important;
    .ov();
}*/

/*[style^="color:deeppink"] {
    color: #E91E63!important;
    .ov();
}*/

/*[style^="color:tomato"] {
    color: #e53935!important;
    .ov();
}*/

/*[style^="color:coral"] {
    color: #FF7043!important;
    .ov();
}*/

[style^="color:purple"] {
    color: #9C27B0!important;
    .ov();
}

[style^="color:indigo"] {
    color: #3F51B5!important;
    .ov();
}

/*[style^="color:burlywood"] {
    color: burlywood!important;
}

[style^="color:sandybrown"] {
    color: sandybrown!important;
}

[style^="color:sienna"] {
    color: sienna!important;
}

[style^="color:chocolate"] {
    color: chocolate!important;
}*/

/*[style^="color:teal"] {
    color: #009688!important;
    .ov();
}*/

[style^="color:silver"] {
    color: #9e9e9e!important;
    .ov();
}

//Bakcground-color

/*[style^="background-color:skyblue"] {
     background-color: skyblue!important;
 }*/
 
 /*[style^="background-color:royalblue"] {
     background-color: royalblue!important;
 }*/
 
 [style^="background-color:blue"] {
     background-color: #2196F3!important;
     .ov();
 }
 
 [style^="background-color:darkblue"] {
     background-color: #0D47A1!important;
     .ov();
 }
 
 [style^="background-color:orange"] {
     background-color: #FF9800!important;
     .ov();
 }
 
 [style^="background-color:orangered"] {
     background-color: #FF5722!important;
     .ov();
 }
 
 /*[style^="background-color:crimson"] {
     background-color: #C2185B!important;
     .ov();
 }*/
 
 [style^="background-color:red"] {
     background-color: #f44336!important;
     .ov();
 }
 
 [style^="background-color:darkred"] {
     background-color: #b71c1c!important;
     .ov();
 }
 
 /*[style^="background-color:green"] {
     background-color: #4CAF50!important;
     .ov();
 }
 
 [style^="background-color:limegreen"] {
     background-color: #8BC34A!important;
     .ov();
 }
 
 [style^="background-color:seagreen"] {
     background-color: #388E3C!important;
     .ov();
 }*/
 
 /*[style^="background-color:deeppink"] {
     background-color: #E91E63!important;
     .ov();
 }*/
 
 /*[style^="background-color:tomato"] {
     background-color: #e53935!important;
     .ov();
 }*/
 
 /*[style^="background-color:coral"] {
     background-color: #FF7043!important;
     .ov();
 }*/
 
 [style^="background-color:purple"] {
     background-color: #9C27B0!important;
     .ov();
 }
 
 [style^="background-color:indigo"] {
     background-color: #3F51B5!important;
     .ov();
 }
 
 /*[style^="background-color:burlywood"] {
     background-color: burlywood!important;
 }
 
 [style^="background-color:sandybrown"] {
     background-color: sandybrown!important;
 }
 
 [style^="background-color:sienna"] {
     background-color: sienna!important;
 }
 
 [style^="background-color:chocolate"] {
     background-color: chocolate!important;
 }*/
 
 /*[style^="background-color:teal"] {
     background-color: #009688!important;
     .ov();
 }*/
 
 [style^="background-color:silver"] {
     background-color: #9e9e9e!important;
     .ov();
 }
